@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ededed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "arial";
  font-weight: bold;
  letter-spacing: 1px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  font-family: "arial";
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
}
a {
  text-decoration: none;
  font-family: arial;
  letter-spacing: 1px;
}
span {
  font-family: "GothamBook";
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
}
header {
  position: fixed;
  width: 100%;
}
.header {
  color: #fff;
  background: #0a4661;
  height: 35px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.optionsBar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionsBar span {
  color: #fff;
  font-size: 11pt;
  font-family: "GothamBook";
  text-transform: uppercase;
  margin-left: 30px;
}
.photouser {
  margin-left: 30px;
  width: 25px;
  height: 25px;
}
.close {
  width: 25px;
  height: 25px;
}
.optionsBar a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: 30px;
}
nav ul {
  background: #058167;
  /*background: #05817d;*/
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: left;
  align-items: center;
}
nav ul > li a {
  position: relative;
}
nav a {
  color: #fff;
  display: block;
  font-size: 10pt;
  font-family: "GothamBook";
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
  border-right: 1px solid #319b8f;
}
nav .principal > a {
  background: url(../images/arrow_bottom.png) no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-position: 94% center;
  background-size: 10px;
}
nav ul li:hover ul {
  display: block;
}
nav li ul {
  /*background: #177470;*/
  background: #2d9872;
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  border-radius: 0 0 10px 10px;
}
nav li ul a {
  position: relative;
  padding: 10px 30px;
  border-right: initial;
}
nav li ul a:hover {
  /*background: #2c9595;*/
  background: #147556;
}
nav li ul li:last-child {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
#container {
  padding: 90px 15px 15px;
}
/******************** Registro de usuarios ***********************/

.form_register {
  width: 450px;
  margin: auto;
}

.form_register h1 {
  color: #3c93b0;
}

hr {
  display: block;
  border: 0;
  background: #ccc;
  height: 1px;
  margin: 10px 0;
}

form {
  background-color: #fff;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #d1d1d1;
}

label {
  display: block;
  font-size: 12pt;
  font-family: "GothamBook";
  margin: 15px auto 5px auto;
}

input,
select {
  display: block;
  width: 100%;
  font-size: 11pt;
  padding: 5px;
  border: 1px solid #85929e;
  border-radius: 5px;
}

.notItemOne option:first-child {
  display: none;
}

.btn_save {
  font-size: 12pt;
  background: #12a4c6;
  padding: 10px;
  color: #fff;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  margin: 15px auto;
}

.alert {
  width: 100%;
  background: #66e07d66;
  border-radius: 6px;
  margin: 20px auto;
}

.alert p {
  padding: 10px;
}

.msg_error {
  color: #e65656;
}

.msg_save {
  color: #126e00;
}

/******************** Lista de usuarios ***********************/

#container h1 {
  font-size: 35px;
  display: inline-block;
}

.btn_new {
  display: inline-block;
  background: #239baa;
  color: #fff;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 20px;
}

table {
  border-collapse: collapse;
  font-size: 12pt;
  font-family: Arial;
  width: 100%;
}

table th {
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: #fff;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table td {
  padding: 10px;
}

.link_edit {
  color: #0ca4ce;
}

.link_delete {
  color: #f26b6b;
}

/******************** Eliminar usuarios ***********************/
.data_delete {
  text-align: center;
}

.data_delete h2 {
  font-size: 12pt;
}

.data_delete span {
  font-weight: bold;
  color: #4f72d4;
  font-size: 12pt;
}

.btn_cancelar,
.btn_aceptar {
  display: inline-block;
  width: 125px;
  background-color: #478ba2;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
}

.btn_cancelar {
  background-color: #42b343;
}

.data_delete form {
  background-color: initial;
  margin: auto;
  padding: 20px 50px;
  border: 0;
}

/******************** Paginador ***********************/

.paginador ul {
  padding: 15px;
  list-style: none;
  background-color: #fff;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.paginador a,
.pagina_seleccionada {
  display: inline-block;
  text-align: center;
  color: #428bca;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 14px;
  width: 35px;
}

.paginador a:hover {
  background-color: #ddd;
}

.pagina_seleccionada {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #428bca;
  font-family: Arial, Helvetica, sans-serif;
}

/******************** Buscador de usuarios ***********************/

.formulario_busqueda {
  display: flex;
  float: right;
  background: initial;
  padding: 10px;
  border-radius: 10px;
}

.formulario_busqueda .btn_buscar {
  background-color: #1faac8;
  color: #fff;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
}
